<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Norse Gods and Their Domain</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/246cd3bef9.js" crossorigin="anonymous"></script>

</head>

<body>
    <h1> The Norse Gods and Their Domains </h1>
    <p>...</p>
    <h2>Add a god and their domain</h2>
    <form action="/addGod" method="POST">
        <input type="text" placeholder="What god?" name="god">
        <input type="text" placeholder="Domain?" name="domain">
        <input type="text" placeholder="Longer description?" name="desc">
        
        <button type="submit">Submit</button>
    </form>

    <h2> The gods and their domains </h2>
    
    <ul class="list">
        <!-- Loop through gods -->
        <% for(var i=0; i < gods.length; i++) {%>
            <li class="entry">
                <!-- Output name of god and their domain -->
                <span>
                    <%= gods[i].god %>
                </span>:
                <!-- Output quote from the iterated quote object -->
                <span>
                    <%= gods[i].domain %>
                </span>
                <span>
                    <%= gods[i].desc %>
                </span>

                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                <span><i class="fa fa-check" aria-hidden="true"></i></span>

            </li>
            <% } %>
    </ul>
    <script src="/main.js"></script>

</body>

</html>
