<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Norse Gods and Their Domain</title>
</head>

<body>
    <h1> The Norse Gods and Their Domains </h1>
    <p>...</p>
    <h2>Add a god and their domain</h2>
    <form action="/gods" method="POST">
        <input type="text" placeholder="What god?" name="god">
        <input type="text" placeholder="Domain?" name="domain">
        <input type="text" placeholder="Longer description?" name="desc">
        
        <button type="submit">Submit</button>
    </form>
</body>

</html>
